/*title head - start */

.about-us-head-container {
    position: relative;
    background: url("../images/aboutus_head.png") no-repeat
      center center/cover;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
  }
  
  /*title head - end */

  .welcometotalentron-container{
    margin-bottom: -90px;
  }

.welcome-to-talentron-overlay-container {
  position: relative;
  width: 100%;
  max-width: 531px;
  margin: 0 auto;
}

.welcome-to-talentron-overlay-container .main-image {
  width: 100%;
  max-width: 531px;
  height: auto;
  border: 2px solid #109bff;
  border-radius: 10px;
}
.welcome-to-talentron-overlay-container .overlay-bottom-right {
  position: absolute;
  width: 30%;
  height: auto;
  top: 75%;
  right: -7.2%;
}
.founder-image-section{
  flex-shrink: 0;
}
.founder-text-content{
  flex: 1;
}

.linkedIn-box{
  width: 100%; 
  border-left: 5px solid #0077b5;
}
.LinkedIn-img{
  flex-shrink: 0; 
  margin-right: 10px;
}
.LinkedIn-img img{
  height: 40px;
}

@media (max-width: 1400px){
  .welcome-to-talentron-overlay-container .main-image {
    width: 90%;
    max-width: 531px;
  }

.welcome-to-talentron-overlay-container .overlay-bottom-right {
  position: absolute;
  width: 33%;
  height: auto;
  top: 70%;
  right: 2%;
}
}
@media (max-width: 768px) {
  .welcome-to-talentron-overlay-container .main-image {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
  }

  .welcome-to-talentron-overlay-container .overlay-bottom-right {
    top: 73%;
    right: -2%;
    width: 30%;
  }
  .founder-image{
    max-width: 144px !important;
    height: auto;
  }
}
@media (max-width: 576px){
  .welcome-to-talentron-overlay-container .main-image {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
  }

  .welcome-to-talentron-overlay-container .overlay-bottom-right {
    top: 70%;
    right: 3%;
    width: 29%;
  }
 
  
}
@media (max-width: 480px){
  .founder-image{
    max-width: 114px !important;
    height: auto;
  }
}
.LinkedIn-text{
  font-family: "Montserrat", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;
text-decoration-skip-ink: none;

}
.founder-image{
  border: 1px solid #868686;
  border-radius: 8px !important;
  max-width: 194px;
  height: auto;
}


.left-img-container{
  margin-left: -40px;
}


  .Empowering_Innovators-paragraph {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    text-underline-position: from-font;
  }

  .icon-circle-1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #006CBB;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
  }
  .icon-circle-2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF2934;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
  }
  .icon-circle-3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF7008;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
  }
  .icon-circle-4 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9BAA58;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
  }
  .Empowering_Innovators-custom-card-1 {
    border: 1px solid #006CBB;
    background-color: #EAF7FF;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    margin: 10px auto;
    width: 100%;
    max-width: 380px;
    height: 210px;
  }
  .Empowering_Innovators-custom-card-2 {
    border: 1px solid #FF2934;
    background-color: #FFEAEB;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    margin: 10px auto;
    width: 100%;
    max-width: 380px;
    height: 210px;
  }
  .Empowering_Innovators-custom-card-3 {
    border: 1px solid #FF7008;
    background-color: #FFF2E8;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    margin: 10px auto;
    width: 100%;
    max-width: 380px;
    height: 210px;
  }
  .Empowering_Innovators-custom-card-4 {
    border: 1px solid #9BAA58;
    background-color: #F6FFCB;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    margin: 10px auto;
    width: 100%;
    max-width: 380px;
    height: 210px;
  }
  .space-top{
    padding-top: 10px;
  }
  .mobile-content{
    display: none;
  }
  @media (max-width: 1400px){
    .left-img-container{
      margin-left: 0px;
    }
  }
  
  @media (max-width: 1200px) {
    .Empowering_Innovators-custom-card-1, .Empowering_Innovators-custom-card-2, .Empowering_Innovators-custom-card-3, .Empowering_Innovators-custom-card-4 {
      min-width: 250px ;
      height: auto;
    }
    
   
    
  }

  @media (max-width: 480px){
    .subtext span{
      display: none;
    }
    .mobile-content{
      display: block;
      margin-top: 0px;
    }
  }
  @media (max-width: 442px){
    .subtext span{
      display: none;
    }
    .mobile-content{
      display: block;
      margin-top: -15px;
    }
  }
  
  @media (max-width: 768px){
    .Empowering_Innovators-custom-card-1, .Empowering_Innovators-custom-card-2, .Empowering_Innovators-custom-card-3, .Empowering_Innovators-custom-card-4 {
      max-width: 580px;
      height: auto;
    }
    .space-top{
      padding-top: 0px;
    }
   
  }


  /* Welcome to talentron - end */

/* Our mission and vision - start */

.our-mission-vision-container {
  position: relative;
  background: url("../images/Our_mission_and_Vision.png") no-repeat center center/cover;
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px; 
  margin: 0;
}

.our-mission-vision-dark-background {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 1200px;
  padding: 20px; 
  border-radius: 10px;
  border: 1px solid #000000BF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
  box-sizing: border-box; 
}

.mission-vision-box {
  flex: 1 1 calc(50% - 20px) !important; 
  max-width: 550px; 
  margin: 10px; 
}

.mission-vision-custom-card {
  border: none;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  width: 100%;
  height: auto; 
  box-sizing: border-box; 
}

.mission-vision-icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.mission-vision-title{
  font-family: "Montserrat", sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: left;
text-decoration-skip-ink: none;

 
}
.mission-vision-points {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400 !important;
  color: #FFFFFF;
  line-height: 19.5px;
}
.mission-vision-points span {
  opacity: 50%;
}
.our-mission-vision-dark-background::before {
  content: "";
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 50%;
  width: 1px;
  background-color: #ffffff; /* Adjust the color as needed */
  transform: translateX(-50%);
  display: block;
  opacity: 50%;
}

@media (max-width: 768px) {
  .our-mission-vision-dark-background::before {
    width: 80%;
    height: 1px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    opacity: 50%;
  }
}

@media (max-width: 768px) {
  .our-mission-vision-container {
    padding: 10px; 
  }

  .our-mission-vision-dark-background {
    flex-direction: column;
    padding: 10px; 
  }

  .mission-vision-box {
    flex: 1 1 100%;
    margin: 10px 0; 
  }
}




/* Our mission and vision - end */


  /* Founding Values - start */

.Founding_Values-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  text-underline-position: from-font;
}
.Founding_Values-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  text-underline-position: from-font;
}
.founding-values-box{
  padding: 10px;
}
.founding-values-second-row{
  margin-top: -20px;
}

.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #006CBB;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
}
.Founding_Values-custom-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  margin: 10px auto;
  width: 100%;
  max-width: 380px;
  height: 280px;
}
.space-top{
  padding-top: 10px;
}
.founding-values-second-row{
  margin-bottom: -40px;
}

@media (max-width: 1200px) {
  .Founding_Values-custom-card {
    max-width: 690px;
    height: auto;
    
  }
 
}

@media (max-width: 768px){
  .founding-values-box{
    margin-top: -15px;
  }
  .founding-values-second-row{
    margin-top: 0px;
    margin-bottom: -40px;
  }
  .space-top{
    padding-top: 0px;
  }
}

/* Founding Values - end */
