/*title head - start */

.contact-us-head-container {
    position: relative;
    background: url("../images/contact_us_head.png") no-repeat
      center center/cover;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
  }
  /*title head - end */

  /* Email ids - start */
  .email-box-container{
    max-width: fit-content !important;
  }
  .tab-form-container{
    max-width: 700px !important;
  }
  .custom-modal-width{

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 750px !important; 
    height: auto; 
    max-height: 854px;
    position: relative;
    bottom: -10px;
  }
  .tab-button{
    justify-content: center;
    border: 1px solid black !important;
    /* border-top: none !important; */
    
  }
  @media (max-width: 768px){
    .tab-button{
      justify-content: flex-start;
    }
  }

  .overlay {
    position: fixed;
    top: 1px; 
    left: 0;
    width: 100vw;
    height: calc(100vh); 
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  



  .form-tab-submit{
    height: 48px;
    max-width: 638.4px;
  }
  .nav-link.form-tab {
    flex-shrink: 0;
    font-weight: bold;
    border: 1px solid black !important;
    padding: 0 !important;
    min-width: 233.34px;
    height: 75.6px;
    color: #000000;
    background-color: #868686;
    border-radius: 0px 0px 0px 0px !important;
    
  }

  .Contact-Email-subtitle{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0;
    margin: 0;

  }

  .Contact-Email-text {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    margin-top: -20px;
   
  }

  .arrow-icon {
    font-size: 38px;
    color: #575757;
    margin-left: 10px;
    position: relative;
    top: -22px;
  }

  .icon-circle-1 {
    width: 40px;
    height: 40px !important;
    min-height: 40px;
    border-radius: 50%;
    background-color: #006CBB;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
  }
  .icon-circle-2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF2934;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
  }
  .icon-circle-3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF7008;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
  }
  .icon-circle-4 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9BAA58;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
  }
  .Contact-Email-custom-card-1 {
    border: 1px solid #006CBB;
    background-color: #EAF7FF;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    margin: 10px auto;
    width: 100%;
    max-width: 370px;
    height: 134px;
    
  }
  .Contact-Email-custom-card-2 {
    border: 1px solid #FF2934;
    background-color: #FFEAEB;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    margin: 10px auto;
    width: 100%;
    max-width: 370px;
    height: 134px;
  }
  .Contact-Email-custom-card-3 {
    border: 1px solid #FF7008;
    background-color: #FFF2E8;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    margin: 10px auto;
    width: 100%;
    max-width: 370px;
    height: 134px;
  }
  .Contact-Email-custom-card-4 {
    border: 1px solid #9BAA58;
    background-color: #F6FFCB;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    margin: 10px auto;
    width: 100%;
    max-width: 370px;
    height: 134px;
  }
  @media (max-width: 1200px) {
    .Contact-Email-custom-card-1, .Contact-Email-custom-card-2, .Contact-Email-custom-card-3, .Contact-Email-custom-card-4 {
      max-width: 540px;
      height: 134px;
    }   
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    .col-lg-3 {
      flex: 0 0 50% !important;
      max-width: 50% !important;
    }
    .arrow-icon{
      margin-bottom: 0px;
    }
  }

  @media (max-width: 768px){
    .Contact-Email-custom-card-1, .Contact-Email-custom-card-2, .Contact-Email-custom-card-3, .Contact-Email-custom-card-4 {
      max-width: 580px;
      padding: 15px;
      height: 114px !important;
    } 
  
    .Contact-Email-text {
      font-size: 16px;
      margin-top: -20px;
    }
  
    .arrow-icon {
      font-size: 36px;
      margin-top: 0px;
    }  

    .col-sm-12 {
      flex: 0 0 100% !important; 
      max-width: 100% !important;
    } 
  }

  /* Email ids - end */